/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

#contenedor {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

center {
    text-align: center;
}

/* Estilos del encabezado */
#encabezado {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

header {
    font-size: 24px;
}

/* Estilos del contenido */
#contenido {
    margin-top: 20px;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

label {
    display: inline-block;
    margin: 5px;
    font-weight: bold;
}

/* Estilos del pie de página */
#pie {
    margin-top: 20px;
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
}

p {
    margin: 0;
}

small {
    font-size: 12px;
}

/* Estilos específicos para los botones */
#limpiar {
    background-color: #e74c3c;
}

#generar {
    background-color: #27ae60;
}