/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

#contenedor {
    width: 80%;
    margin: 0 auto;
}

/* Estilos para el encabezado */
#encabezado {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos para el contenido */
#contenido {
    margin: 20px;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
}

/* Estilos para el pie de página */
#pie {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}