/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    margin-top: 3em;
}

/* Estilo para el encabezado h1 */
h1 {
    text-align: center;
    color: #333;
    margin: 20px 0;
    
}

/* Estilo para los enlaces */
a {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    margin: 10px 0;
    font-size: 18px;
    
}

a:hover {
    color: #0056b3;
}

/* Estilo para el centro del contenido */
center {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 0 auto;
}